body {
  overflow-x: auto;
  margin: 0;
  position: relative;
  margin: 0;
  /* padding-bottom: 4rem; */
  /* min-height: 100%; */
}

footer {
  margin-top: auto;
  min-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.regForm {
  font-size: 17px;
  overflow-x: hidden;
  overflow-y: auto;
}

th,
td {
  font-size: 15px;
  margin: 5px;
}
th {
  border-bottom: 1.5px solid black;
}

.table {
  margin-bottom: 10px;
}

input {
  margin: 6.5px;
  padding: 3px;
  border: 1.5px solid grey;
  border-radius: 6px;
  width: 200px;
}
button {
  margin: 3px;
}

button:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

#M,
#F,
#O {
  width: 17px;
}

.list-items {
  overflow-x: hidden;
  overflow-y: auto;
}

.blood-units:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
